body {
  background: #0f0f0f;
  color: white;
  font-family: Arial;
  text-align: center;
  padding: 20px;
}

button {
  padding: 12px;
  margin: 10px;
  width: 200px;
  cursor: pointer;
}

input {
  padding: 10px;
  margin: 5px;
  width: 200px;
}